/***************** FOOTER *****************/

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  background: url(../img/body-bg.jpg);
  background-size: cover;
  height: auto;
}
.navbar {
  background: rgba(128, 128, 128, 0.24);
  color: white;
}

.nav-item {
  padding-top: 20px;
}

.nav-item:hover {
  color: rgb(255, 166, 0);
}

main {
  padding-top: 40px;
  width: 100vw;
  height: auto;
}

footer {
  background: rgba(128, 128, 128, 0.24);
  width: 100vw;
  height: 10vh;
  color: white;
  position: absolute;
  bottom: 0;
}

footer p {
  margin: 0;
}

.nav__img {
  width: 40px;
}

.nav__links a {
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 10px;
}


@media (max-width: 900px) {

  footer {
    background: rgba(128, 128, 128, 0.24);
    width: 100vw;
    height: 10vh;
    color: white;
    position: relative
  }
  
}
