/***************** FOOTER *****************/

body {
  background: rgb(137, 228, 255);
  margin: 0;
  padding: 0;
  font-family: "Shantell Sans", cursive;
}

header {
  background: rgb(0, 160, 227);
  background-size: cover;
}

main {
  width: 90vw;
  margin: 0 auto;
}

footer {
  height: 200px;
  background-size: contain;
}
