.nav__img {
  width: 60px;
}

.nav__links a {
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 10px;
}

.calculator {
  padding: 20px;
  display: inline-block;
}

.calculator option {
  text-align: center;
  border-radius: 10px 10px;
}

.calculator__amount,
.calculator__timeinterval,
.calculator__period {
  background: linear-gradient(46deg, #00a8ec 0%, #53ceff 100%);
  width: 400px;
  margin: 20px auto;
  padding: 20px 0;
  text-align: center;
  border-radius: 30px 30px;
  box-shadow: 3px 5px rgb(0, 56, 70);
}

.calculator__input {
  margin-top: 10px;
  display: inline-block;
  width: 400px;
}

.calculator__period input {
  width: 60px;
  text-align: center;
  border-radius: 15px 15px;
  border: none;
  border: 2px solid rgba(0, 92, 153, 0.315);
  box-shadow: 1px 3px rgb(0, 56, 70);
}

.calculator__period p {
  margin: 0;
}
.calculator__button {
  text-align: center;
  margin-top: 50px;
}

.calculator__button button {
  border-radius: 30px 30px;
  padding: 10px 20px;
  background-color: rgb(0, 101, 168);
  color: white;
  border: 3px solid #0097fc7c;
  box-shadow: 3px 3px rgb(0, 56, 70);
}

.calculator__button button:hover {
  background-color: rgb(0, 144, 240);
  border: 3px solid #0136685e;
  transition: 0.3s;
}

.result {
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(92, 255, 201);
}
