.calculator {
  padding: 20px;
  display: inline-block;
}

.calculator__select {
  padding: 0 40px;
}

.select__btn {
  box-shadow: 1px 3px rgba(1, 0, 70, 0.24);
}

.calculator option {
  text-align: left;
  border-radius: 10px 10px;
}

.calculator__amount,
.calculator__timeinterval,
.calculator__period {
  background: rgba(0, 48, 94, 0.274);
  margin: 20px auto;
  padding: 20px 0;
  color: white;
  text-align: center;
  border-radius: 30px 30px;
  box-shadow: 3px 5px rgba(0, 9, 37, 0.459);
}

.calculator__amount:hover,
.calculator__timeinterval:hover,
.calculator__period:hover {
  background: rgba(0, 29, 56, 0.274);
}

.calculator__input {
  margin-top: 10px;
  display: inline-block;
}

.calculator__period input {
  width: 80px;
  text-align: center;
  border-radius: 15px 15px;
  border: none;
  box-shadow: 1px 3px rgba(70, 0, 0, 0.24);
}

.calculator__period p {
  margin: 0;
}
.calculator__button {
  text-align: center;
  margin-top: 30px;
}

.calculator__button button {
  border-radius: 30px 30px;
  padding: 10px 20px;
  background: rgba(48, 0, 0, 0.24);
  color: white;
  border: 3px solid rgba(1, 0, 70, 0.24);
  box-shadow: 1px 3px rgba(1, 0, 70, 0.24);
}

.calculator__button button:hover {
  background: rgba(1, 0, 70, 0.24);
  border: 3px solid rgba(1, 0, 70, 0.24);
  transition: 0.2s;
}

.calculator__button button:active {
  transform: translateY(4px);
  box-shadow: 1px 1px rgb(0, 0, 7);
}

.result {
  box-shadow: 1px 3px rgba(1, 0, 70, 0.24);
  text-align: center;
  color: white;
  border-radius: 30px 30px;
  padding: 20px;
  margin: 50px 0;
  display: inline-block;
  vertical-align: top;
  background: rgba(0, 29, 56, 0.274);
}

.result:hover {
  background: rgba(0, 18, 36, 0.274);
}

.result #result__fixed__text {
  font-size: 2rem;
}

#result {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background: rgba(97, 97, 97, 0.24);
  border-radius: 30px 30px;
}

.calculator__img {
  width: 30px;
  margin-right: 20px;
}

.days__p {
  padding-left: 10px;
}
